server:
  port: 8090

spring:
  application:
    name: gateway-service

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: dev
        group: COURSEHUB_GROUP

    gateway:
      # ????
      routes:
        # ??????
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1  # ?? /api ??
              # Auth ?? (????)

        - id: auth-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

          # Catalog Service ??
        - id: catalog-service
          uri: lb://catalog-service
          predicates:
            - Path=/api/courses/**
          filters:
             - StripPrefix=1

            # Enrollment Service ??
        - id: enrollment-service
          uri: lb://enrollment-service
          predicates:
            - Path=/api/enrollments/**
          filters:
            - StripPrefix=1


      # ????
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

# JWT??
jwt:
  secret: "MySecretKeyForJWT2024CourseCloudSystemVeryLongAndSecure1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  expiration: 86400000


logging:
  level:
    com.zjgsu.cyd.coursecloud.gatewayservice: DEBUG
    org.springframework.cloud.gateway: DEBUG
